<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Gears.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Gears.Properties.Settings>
   <setting name="DrawingColor" serializeAs="String">
    <value>Fuchsia</value>
   </setting>
   <setting name="DrawingWidth" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="DrawingShape" serializeAs="String">
    <value>Rectangle</value>
   </setting>
   <setting name="DrawingFont" serializeAs="String">
    <value>Segoe Print, 12pt</value>
   </setting>
   <setting name="DrawingText" serializeAs="String">
    <value>Hello World!</value>
   </setting>
   <setting name="DrawingTextColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="RunAtStartup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ST_SearchPaths" serializeAs="String">
    <value/>
   </setting>
   <setting name="ST_SearchTerms" serializeAs="String">
    <value/>
   </setting>
   <setting name="ShelveStoreLocation" serializeAs="String">
    <value>D:\Shelve Store\</value>
   </setting>
  </Gears.Properties.Settings>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
